@use '../../../shared/styles/modal.mixins.scss' as *;
.form {
    @include modal;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 0;
    min-width: 0;
    padding: 0;
    margin: 0;
}

.error {
    color: rgb(136, 17, 17);
}
